{
  "exchanges":{
    "upbit": [
      "BTC/KRW", "BCH/KRW", "ETH/KRW", "EOS/KRW", "XRP/KRW"
    ],
    "okex3": [
      "BTC/USDT", "BCH/USDT", "ETH/USDT", "EOS/USDT", "XRP/USDT"
    ],
    "binance": [
      "BTC/USDT", "BCH/USDT", "ETH/USDT", "EOS/USDT", "XRP/USDT"
    ],
    "huobipro": [
      "USDT/HUSD", "BTC/USDT", "BCH/USDT", "ETH/USDT", "EOS/USDT", "XRP/USDT"
    ]
  }
}