

############ formula-data ############

ENABLE_HTTP_PROXY=false
MY_HTTP_PROXY=http://127.0.0.1:1087
CRON_EXPRESSION=0/3 * * * * ?

FORMULA_HOST=http://formula:8120
FORMULA_TOKEN=ad82c6ae-f7a3-486b-b933-aa19104d8142
FORMULA_TIMEOUT=300000

FIAT_RATE_HOST=http://fiat-rate:8080
FIAT_TIMEOUT=14400000

############ formula-data ############


